<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гори в аду</title>
</head>
<body>
   <header>
       <img src="/img/logo.jpg" alt="logo">
   </header>
    {{{body}}}
</body>
</html>