<h1>Гори в аду</h1>
<h2>Твое предсказание сука на сегодня:</h2>
<span style="font-size: 20px; text-transform: uppercase;">{{fortune}}</span>
<span style="font-size: 20px; text-transform: uppercase;">потому что ты мудак!</span>